@model IEnumerable<QLBH.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HangHoa.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongSoLuongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HangHoa.TenHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongSoLuongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDChiTietHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDChiTietHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDChiTietHoaDon })
        </td>
    </tr>
}

</table>
